html,
body,
canvas {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: black;
  margin: 0;
}
canvas{
  background: rgb(238,246,74);
background: linear-gradient(0deg, rgba(238,246,74,1) 0%, rgba(17,167,242,1) 100%);
}

